body {
  display: flex;
  flex-direction: column;

  color: white;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

footer {
  background-color: blue;
  padding: 20px;
}

.hamburger {
  display: none;
}

header {
  background-color: red;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

nav {
  background-color: yellow;
  color: black;
  overflow: auto;
  padding: 20px;
  width: 200px;
}

nav > a {
  display: block;
  text-decoration: none;
}

section {
  background-color: green;
  overflow: auto;
  padding: 20px;
  flex-grow: 1;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    margin-left: 2rem;
  }

  .hamburger {
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    outline: none;
  }

  header {
    display: flex;
    text-align: left;
  }

  nav {
    position: absolute;
    transition: left 0.5s;
  }

  nav a {
    margin: 1rem 0; // easier to tap
  }
}
