body {
  --primary-color: #493548;
  --secondary-color: #4b4e6d;
  --tertiary-color: #6a8d92;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 144px 1fr 59px;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';

  color: white;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

footer {
  background-color: black;
  grid-area: footer;
  padding: 20px;
}

.hamburger {
  display: none;
}

header {
  background-color: var(--primary-color);
  grid-area: header;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

iframe {
  background-color: var(--tertiary-color);
  border: none;
  grid-area: main;
  height: 100%;
  width: 100%;
}

nav {
  background-color: var(--secondary-color);
  color: white;
  grid-area: nav;
  overflow: auto;
  padding: 20px;
}

nav > a {
  color: white;
  display: block;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
}

.selected {
  color: yellow;
  font-weight: bold;
}

@media (max-width: 600px) {
  body {
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
  }

  h1 {
    color: red;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .hamburger {
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-size: 2rem;
    outline: none;
  }

  header {
    display: flex;
    padding: 1rem;
  }

  nav {
    grid-area: unset;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    transition: left 0.5s;
  }

  nav a {
    margin: 1rem 0; /* easier to tap */
  }
}
